<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel"/>
<head>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/style.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <meta charset="UTF-8">
    <title>Team Edit</title>
</head>
<body>
<div th:replace="fragments/header::header"></div>

<div class="row teamDetailsContainer" th:object="${team}" th:if="${team}">

    <form th:action="@{|/admin/teamedit/*{id}|}" method="post">
        <div class="row">
            <div class="col-4 teamDetailsTitles">
                <h2>Team name:</h2>
            </div>
            <div class="col-8">
                <input id="teamName" th:field="*{teamName}" th:errorclass="fieldError">
                <div class="error" th:if="${#fields.hasErrors('*')}">ERROR - data is not saved</div>
            </div>

        </div>
        <div class="row">
            <div class="col-4 teamDetailsTitles">
                <h2>Description:</h2>
            </div>
            <div class="col-8">
                <input id="description" th:field="*{description}" th:errorclass="fieldError">
            </div>
        </div>
        <!-- Loop 5x-->

        <th:block th:each="i: ${#numbers.sequence(1, 5)}">
        <div class="row">

            <div class="col-4 teamDetailsTitles">
                <h2 th:text="|Character ${i}|"></h2>
            </div>
            <div class="col-8">

                <select th:field="*{characters}">
                    <option value=""></option>
                    <option th:each="character:${characters}" th:value="${character.id}"
                            th:text="${character.characterName}" th:selected="*{characters}">
                    </option>
                </select>
            </div>
        </div>
        </th:block>
        <div class="col-12 buttonContainer">
            <a th:href="@{|/teamDetails/*{id}|}" class="button4">cancel</a>
            <a class="button4"><input type="submit" value="save"></a>
        </div>
    </form>

</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>