<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel"/>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>logout</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/style.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script src="https://kit.fontawesome.com/d7f7b576cd.js" crossorigin="anonymous"></script>
    <script th:src="@{/bootstrap.min.js}"></script>
</head>
<body>
<div th:replace="fragments/header :: header">Header</div>

<div class="logoutContainer">
    <h1 class="titleLogin">Do you really want to logout, <br><span sec:authentication="name">username</span>?
    </h1>
    <form th:action="@{|/user/login|}" method="post">

        <button type="submit" class="submitButton">Logout</button>
        <button th:href="@{|/home|}" class="submitButton">cancel</button>

    </form>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>