
body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    background: linear-gradient(147deg, rgba(0, 0, 0, 1) 10%, rgba(162, 140, 141, 1) 30%, rgba(255, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 65%, rgba(150, 148, 148, 1) 84%) fixed;
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
/*Header*/
.backgroundHeader {
    height: 8rem;
    border-radius: 0 0 50% 50%;
    background-color: grey;
    box-shadow: 0 0 50px red;
    color: white;
}

.navbar {
    margin-bottom: 2.5%;
}

.box {
    text-align: center;
}

.nav-item {
    font-size: 30px;
    font-family: Marvel;
    padding-left: 5%;
}

nav .navbar-nav li a {
    color: white;
!important;
}

nav .navbar-nav li a:hover {
    color: lightgray;
!important;
}

.navbar-nav {
    text-align: center;
}

.imgHeader {
    width: 90%;
}

/*EINDE HEADER*/

.backgroundFooter {
    position: fixed;
    bottom: 0;
    width: 50%;
    margin-left: 25%;
    border-radius: 50% 50% 0 0;
    background-color: #484848;
    box-shadow: 0 0 50px red;
}

.footerText {
    text-align: center;
    color: white;
    font-family: Marvel;
    padding: 20px;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.video {
    width: 100%;
    margin-top: 20px;
    height: 45rem;
    object-fit: cover;
    z-index: -100;
}


/*Characters images*/

.card {
    display: inline-block;
    border: grey solid;
    width: 60%;
    text-align: center;
    margin: auto auto 30px;
    font-family: Marvel;
    font-size: 30px;
}

.card-body {
    vertical-align: bottom;
}

.characterBox a {
    color: grey;
}

/*ABOUT US PAGE*/

.aboutUsContainer {
    text-align: center;
    color: white;
}

.aboutUsContainer h1 {
    font-size: 50px;
    width: 100%;
    font-family: Marvel;
}

.aboutUsContainer p {
    font-size: 30px;
    font-family: Marvel;
}

/*Character Details*/
.charDetailsBody {
    margin-top: 100px;
}

.heroText {
    color: green;
}

.villainText {
    color: red;
}

.imgCharacterDetails {
    width: 80%;
}

/*Previous and next button */
.prevButtonDiv {
    text-align: center;
}

.round {
    background-color: #f1f1f1;
    color: black;
    font-size: 2rem;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
}

/*Filters*/
.filterButton {
    font-family: Marvel;
    color: white;
    font-size: 2em;
    text-decoration: none;
    background-color: #484848;
    padding: 20px;
    border-radius: 50%;
    margin: 0 20px 20px 20px;
    box-shadow: 0 0 50px white;
    display: inline-block;
}

.filterStyle {
    color: white;
    font-family: Marvel;
    border-radius: 20%;
    width: 100%;
    padding: 20px;
    background-color: #484848;
    margin: 0 20px 20px 20px;
}

.filterOption {
    margin: 10px;
    width: 100%
}

.searchButton {
    font-size: 1em;
    padding: 10px;
}

/*Team page*/
a.button4 {
    display: inline-block;
    padding: 0.3em 1.2em;
    margin: 0 0.1em 0.1em 0;
    border: 0.16em solid rgba(255, 255, 255, 0);
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 300;
    color: #FFFFFF;
    text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
    text-align: center;
    transition: all 0.2s;
    font-size: 1.5rem;
}

a.button4:hover {
    border-color: rgba(255, 255, 255, 1);
    color: grey;
}

.createTeamButton {
    text-align: center;
}

.teamHead h1 {
    font-size: 4rem;
}

.teamHead {
    text-align: center;
    color: white;
    font-family: 'Marvel', sans-serif;
}

.teamContainer {
    text-align: center;
}

a.teamLinks {
    text-decoration: none;
    font-size: 2rem;
    color: white;
    background-color: grey;
    font-family: 'Marvel';
    margin: auto;
    padding: 10px;
    border-radius: 30%;
    border: white solid;
}
a.teamLinks:hover{
    color: darkred;
}
.teamDetailsContainer {
    color: white;
    font-family: 'Marvel';
}

.teamDetailsTitles {
    text-align: center;
}

.buttonContainer {
    text-align: center;
}

/*Team Details*/
.teamCharacterContainer {
    text-align: center;
    border: double white;
    border-radius: 20%;
    margin: 2rem;
    padding: 2rem;
}

.teamName {
    font-size: 5rem;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 50px;
}
/*Login*/
.loginScreen{
    text-align: center;
    color: white ;
    font-family: Marvel;
    margin: auto;
}
.formLogin{
    margin: 25px;
}
.createUserButton{
    margin-right: 20px;
}
.loginNameHome{
    text-align: center;
    color: white ;
    font-family: Marvel;
}