<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marvel"/>
<head>
    <meta charset="UTF-8">
    <title>Team details</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}" href="/css/style.css"/>
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}">
    <script th:src="@{/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/d7f7b576cd.js" crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="fragments/header::header"></div>
<div class="row teamDetailsContainer" th:object="${team}" th:if="${team}">
    <div class="row">
        <div class="col-12">
            <h1 th:text="*{teamName}" class="teamName">teamName</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-4 teamDetailsTitles">
            <h2>Description:</h2>
        </div>
        <div class="col-6">
            <h2 th:text="*{description}">description</h2>
        </div>
        <div class="col-2 createTeamButton">
            <a sec:authorize="isAuthenticated()" th:href="@{|/user/teamedit/*{id}|}" class="button4" style="background-color:#f14e4e">Edit team</a>
        </div>
    </div>
    <h2>Characters: </h2>
        <div th:each="character:${team.characters}" class="col-2 teamCharacterContainer">
            <img class="imgCharacterDetails" th:src="@{${'/pictures/'+character.characterName+'.png'}}"/>
            <a class="teamLinks" th:href="@{|/characterDetails/${character.id}|}">
                <span th:text="${character.characterName}"></span>
            </a>
        </div>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>